.m-top_ms-7{
    margin-top: ms(-7);
}
.m-top_ms-6{
    margin-top: ms(-6);
}
.m-top_ms-5{
    margin-top: ms(-5);
}
.m-top_ms-4{
    margin-top: ms(-4);
}
.m-top_ms-3{
    margin-top: ms(-3);
}
.m-top_ms-2{
    margin-top: ms(-2);
}
.m-top_ms-1{
    margin-top: ms(-1);
}
.m-top_ms0{
    margin-top: ms(0);
}
.m-top_ms1{
    margin-top: ms(1);
}
.m-top_ms2{
    margin-top: ms(2);
}
.m-top_ms3{
    margin-top: ms(3);
}
.m-top_ms4{
    margin-top: ms(4);
}
.m-top_ms5{
    margin-top: ms(5);
}
.m-top_ms6{
    margin-top: ms(6);
}
.m-top_ms7{
    margin-top: ms(7);
}
.m-top_ms8{
    margin-top: ms(8);
}
.m-top_ms9{
    margin-top: ms(9);
}
.m-top_ms10{
    margin-top: ms(10);
}

// Margin Bottom
.m-bottom_ms-7{
    margin-bottom: ms(-7);
}
.m-bottom_ms-6{
    margin-bottom: ms(-6);
}
.m-bottom_ms-5{
    margin-bottom: ms(-5);
}
.m-bottom_ms-4{
    margin-bottom: ms(-4);
}
.m-bottom_ms-3{
    margin-bottom: ms(-3);
}
.m-bottom_ms-2{
    margin-bottom: ms(-2);
}
.m-bottom_ms-1{
    margin-bottom: ms(-1);
}
.m-bottom_ms0{
    margin-bottom: ms(0);
}
.m-bottom_ms1{
    margin-bottom: ms(1);
}
.m-bottom_ms2{
    margin-bottom: ms(2);
}
.m-bottom_ms3{
    margin-bottom: ms(3);
}
.m-bottom_ms4{
    margin-bottom: ms(4);
}
.m-right_ms-7{
    margin-right: ms(-7);
}
.m-right_ms-6{
    margin-right: ms(-6);
}
.m-right_ms-5{
    margin-right: ms(-5);
}
.m-right_ms-4{
    margin-right: ms(-4);
}
.m-right_ms-3{
    margin-right: ms(-3);
}
.m-right_ms-2{
    margin-right: ms(-2);
}
.m-right_ms-1{
    margin-right: ms(-1);
}
.m-right_ms0{
    margin-right: ms(0);
}
.m-right_ms1{
    margin-right: ms(1);
}
.m-right_ms2{
    margin-right: ms(2);
}
.m-right_ms3{
    margin-right: ms(3);
}
.m-right_ms4{
    margin-right: ms(4);
}
.m-right_ms5{
    margin-right: ms(5);
}
.m-right_ms6{
    margin-right: ms(6);
}
.m-right_ms7{
    margin-right: ms(7);
}
.m-right_ms8{
    margin-right: ms(8);
}
.m-right_ms9{
    margin-right: ms(9);
}
.m-right_ms10{
    margin-right: ms(10);
}
.no-margin{
    margin: 0;
}